{
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "**/node_modules/**",
    "src/lib/interfaces*",
    "demo/*"
  ],
  "extension": [
    ".ts"
  ],
  "require": [
    "ts-node/register"
  ],
  "reporter": [
    "text-summary",
    "html",
    "lcov"
  ],
  "sourceMap": true,
  "instrument": true
}
